@use 'src/components/vars/colors';
@use 'src/components/vars/radiuses';

.addItem{
  margin-top: 10px;
  display: flex;

  input{
    border-radius: radiuses.$radius 0 0 radiuses.$radius;
    outline: none;
    border: 1px solid colors.$secondaryColors;
    width: 100%;
    padding-left: 5px;
  }
  button{
    position: relative;

    $buttonPadding: 1px;
    padding-top: $buttonPadding;
    padding-bottom: $buttonPadding;
    font-weight: bold;
    width: 30px;
    display: flex;
    justify-content: center;
    align-content: center;

    outline: none;

    border-radius: 0 radiuses.$radius radiuses.$radius 0;
    border: 1px solid colors.$secondaryColors;
    border-width: 1px 1px 1px 0;
    background-color: colors.$secondaryColors;
    color: #fff;
    span {
      position: absolute;
      transition: transform 1s ease;
      pointer-events: none;
    }
    &:hover{
      span{
        font-weight: bold;
        transform: rotate3d(0,0,1,360deg);
      }
      //font-size: 1.1em;
    }
  }
}