$mainColor: #648661;
$secondaryColors: #cf1500;

$blenderMainColor: #00b7ff;
$blenderSecondaryColors: #ff7700;

$flashMainColor: #ff0070;
$flashSecondaryColors: #ffb700;

$forestMainColor: #777252;
$forestSecondaryColors: #70925a;

$fruitMainColor: #648661;
$fruitSecondaryColors: #cf1500;

$aubergineMainColor: #5c5277;
$aubergineSecondaryColors: #925a5a;